.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh; /* Permite que crezca más si el contenido lo necesita */
  width: 100%;
  background: radial-gradient(circle at center, #0f0f3e, #0b0b2d);
  padding: 4rem;
  color: white;
  transition: all 0.5s ease-in-out;
  font-size: 5rem;
  font-weight: bold;
  line-height: 0.9;
  box-sizing: border-box;
}


.home-model-container {
  width: 50%;
  height: 80vh;
}

.home-text-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

.home-titulo {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  line-height: 0.9;
  margin: 0 0 1.5rem 0;
  color: white;
}


.home-subtitulo {
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  color: #f5f5f5;
  margin-bottom: 1rem;
}
 



.home-text-container .home-descripcion {
  max-width: 500px;
  margin: 2rem 0 1.5rem 0;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: white;
  text-align: justify;
  align-self: flex-start;
}

.home-descripcion {
  font-size: 1rem;
  opacity: 0.7;
  color: #ffffff;
  align-self: flex-start;
  text-align: justify;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 1.5rem;
}

/* Estilos para la información adicional */
.home-info-adicional {
  background-color: rgba(15, 15, 62, 0.7);
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  max-width: 500px;
  overflow-y: auto;
  border-left: 3px solid #ff715b;
  animation: fadeIn 0.5s ease-in-out;
  text-align: justify;
}

.home-info-adicional h3 {
  color: #ff715b;
  margin-top: 0;
  font-size: 1.4rem;
}

.home-info-adicional p {
  font-family: 'Inter', sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.home-botones {
  margin-top: 2rem; /* Valor positivo, ajustable */
  font-family: 'Inter', sans-serif;
  display: flex;
  gap: 0.8rem;
}

.home-btn {
  margin-top: 0; /* o 1rem si quieres espacio */
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  border: 1px solid #ff715b;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}


.home-btn:hover {
  background-color: rgba(255, 113, 91, 0.321);
  text-decoration: none !important;
}









/*Responsive*/

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .home-model-container, .home-text-container {
    width: 100%;
    height: auto;
  }

  .home-titulo {
    font-size: 3rem;
  }

  .home-subtitulo {
    font-size: 1rem;
  }

  .home-descripcion,
  .home-info-adicional p {
    font-size: 0.95rem;
  }
}